/* general */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; 
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #D7263D;
    }
.header h1 {
    display: inline-flex;
    align-items: center;
    gap: 10px; 
    color: #D7263D;
    font-size: 2rem;
    margin: 0;
}
.calculator {
  background-color: #d3d3d3; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  width: 460px;
}

#display {
  width: 89%;
  height: 50px;
  margin-bottom: 10px;
  text-align: top;
  font-size: 24px;
  border: 5px solid #a0a0a0;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #e0e0e0; 
  color: #333;
}

.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
  width: 100px;
  height: 60px;
  margin: 5px;
  padding: 20px 0;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #b0b0b0; 
  color: #fff;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #999;
}

